*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    min-width: 100vh;
    background-color:antiquewhite;
}
.parent{
    background-color: yellow;
    height: 150px;
    width: 100%;
    position: relative;
    top: 20px;
   
}
.child1{
    background-color: green;
    height: 50px;
    width: 250px;
    position: absolute;
    top: 40px;
}
.child2{
    background-color: red;
    height: 50px;
    width: 250px;
    top: 50px;
    position: sticky;
}
.child3{
    background-color: brown;
    height: 50px;
    width: 250px;
    position: fixed;
   
}